<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Scrapper</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}">
</head>

<body>
  <img src="{{ url_for('static', filename = 'web_developing.gif') }}" alt="User Image" width="200" height="85">
  <!-- <div class="main">
  
    <div class="inner"></div> -->
  <div class="btn">        

  </div>
  <!-- {% for table in tables %}
  {{ table|safe }}
  {% endfor %} -->
  </div>

</body>

</html>